<html>
<head>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<title>Film catalog</title>
</head>
<body>
<table>
<tr>
<td>
<img alt='The Shawshank Redemption' src='https://image.tmdb.org/t/p/w185/9O7gLzmreU0nGkIB6K3BsJbzvNv.jpg'>
</td>
<td>Побег из Шоушенка</td>
<td>The Shawshank Redemption</td>
<td>25000000</td>
<td>1994</td>
<td>USA</td>
<td>1994-10-14</td>
<td>Crime, Drama</td>
<td>142</td>
<td>9.3</td>
<td>Frank Darabont</td>
<td>Tim Robbins, Morgan Freeman, Bob Gunton</td>
</tr>
<tr>
<td>
<img alt='The Godfather' src='https://image.tmdb.org/t/p/w185/rPdtLWNsZmAtoZl9PK7S2wE3qiS.jpg'>
</td>
<td>Крестный отец</td>
<td>The Godfather</td>
<td>6000000</td>
<td>1972</td>
<td>USA</td>
<td>1972-03-24</td>
<td>Crime, Drama</td>
<td>175</td>
<td>9.2</td>
<td>Francis Ford Coppola</td>
<td>Marlon Brando, Al Pacino, James Caan</td>
</tr>
<tr>
<td>
<img alt='The Godfather: Part II' src='https://image.tmdb.org/t/p/w185/bVq65huQ8vHDd1a4Z37QtuyEvpA.jpg'>
</td>
<td>Крестный отец 2</td>
<td>The Godfather: Part II</td>
<td>13000000</td>
<td>1974</td>
<td>USA</td>
<td>1974-12-20</td>
<td>Crime, Drama</td>
<td>200</td>
<td>9.1</td>
<td>Francis Ford Coppola</td>
<td>Al Pacino, Robert De Niro, Robert Duvall</td>
</tr>
<tr>
<td>
<img alt='The Dark Knight' src='https://image.tmdb.org/t/p/w185/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg'>
</td>
<td>Тёмный рыцарь</td>
<td>The Dark Knight</td>
<td>185000000</td>
<td>2008</td>
<td>USA</td>
<td>2008-07-18</td>
<td>Action, Crime, Drama</td>
<td>152</td>
<td>9.0</td>
<td>Christopher Nolan</td>
<td>Christian Bale, Heath Ledger, Aaron Eckhart</td>
</tr>
<tr>
<td>
<img alt='12 Angry Men' src='https://image.tmdb.org/t/p/w185/3W0v956XxSG5xgm7LB6qu8ExYJ2.jpg'>
</td>
<td>12 Разгневанных мужчин</td>
<td>12 Angry Men</td>
<td>350000</td>
<td>1957</td>
<td>USA</td>
<td>1957-04</td>
<td>Crime, Drama</td>
<td>96</td>
<td>8.9</td>
<td>Sidney Lumet</td>
<td>Henry Fonda, Lee J. Cobb, Martin Balsam</td>
</tr>
</table>
</body>
</html>
